.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.multi-select .border {
  border: 1px solid black;
  max-width: 50%;
  padding: 1em;
}

.multi-select .objects-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.multi-select .object {
    float: left;
    display: block;
    text-align: center;
    padding: 1em .3em;
    text-decoration: none;
}

.multi-select .selected {
  background-color: #80dfff;
  border: 1px black solid;
  border-radius: 1em;
  max-height: 1em;
}

.muti-select .title {
  font-weight: bold;
}
